  <!--main content-->
  <main>
    <div class="jumbotron">
      <h1 class="display-6">Welcome to the <%= title %></h1>
      <p class="lead">Hello dear user, this is my porfolio website. In this simple website,
        you can navigate through varoius links that are on the top right corner. By clicking one of those links you can learn 
        more about me and if you would like to contact me, you can find my contact information by clicking <a href="\contacts">contacts</a></p>
    </div>
    
  </main> 