<!--header-->
<%- include partials/header.ejs %>

<!--nav-->
<%- include partials/main_nav.ejs %>

<!--main-->
  <main>
    <div class="jumbotron">
      <img src="\assets\images\photo.jpg" width="703" height="943">
      <p class="lead">Sultamuratov Nurlybek Student #301103746</p>

      <!--bullets-->
      <h6>Brief Description: </h6>
      <ul>
        <li>I love listening to audiobooks </li>
        
        <li>My favourite game is game of chess </li>
        
        <li>I like drinking coffee(capuccino) </li>
        
        <li>Edit videos for fun </li>
        
        <li>Learn new languages </li>
        
        <li>Talk to friends </li>
        
        </ul>

        <!--link to resume.pdf-->
        To see my resume:<a href="\assets\Resume.pdf">Resume</a>
    </div>
    
  </main> 


<!--foot nav-->
<%- include partials/bottom_nav.ejs %>

<!--foot-->
<%- include partials/footer.ejs %>