<!--header-->
<%- include partials/header.ejs %>

<!--nav-->
<%- include partials/main_nav.ejs %>

<!--main -->
<main>
    <div class="jumbotron">
      <h1 class="display-6">Welcome to the Contact Me Page</h1>
      <p class="lead">
      Here is my contact information: <br>
      sultanmuratovnurlybek@gmail.com<br>
      4168218985<br><br>
     
    </div>
    
  </main> 


<!--foot nav-->
<%- include partials/bottom_nav.ejs %>

<!--foot-->
<%- include partials/footer.ejs %>