 /*Name: Nurlybek Sultamuratov
   ID:   301103746
   Date: 2020-10-09 */
   
   /* define background color and font*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

